.carrito {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 400px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 0px 0px 0px 10px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titulo h2{
    margin: 0;
    padding: 10px;
    background-color: #222;
    text-align: center;
}

.carrito button {
    padding: 10px;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
}

.carrito button:hover {
    background-color: #555;
}

#carrito{
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.card-carrito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #555;
    gap: 10px;
}

.card-carrito .info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.card-carrito .cantidad{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.card-carrito img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.icono-carrito{
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
}

.icono-carrito img{
    width: 40px;
    height: 40px;
}

.on{
    transform: translateX(0);
}

.logo{
    margin: 0 auto;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #222;
    color: white;
    z-index: -1;
}

.seccion-productos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #222;
}

.seccion-productos h3{
    width: 100%;
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 1.5em;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.producto img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin: 10px 0;
}

.producto div {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 10px;
}

.producto p {
    font-size: 1.1em;
    font-weight: bold;
    color: #2c3e50;
    margin: 10px 0;
}

.producto button {
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.producto button:hover {
    background-color: #2ecc71;
    transform: translateY(-3px);
}

.producto button:active {
    transform: translateY(1px);
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}